<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

</head>
<body>
<div id="mapid" style="width: 1200px; height: 800px;"></div>
<!--<%= data2 %>-->

<div>

    <tr>
        <td>
            <% for(var i=0; i< data2.length; i++) {%>
            <p class = "divs" div="<%= gids %>" style="display:none"><%= data2[i] %> </p>
            <% var gids = 'gids'+i; %>
        <p class = "gids" div="<%= gids %>" style="display:none"><%= data2[i].gid %> </p>
            <% var coords = 'coords'+i; %>
        <p  class = "coords" id="<%= coords %>" style="display:none"><%= data2[i].st_asgeojson %></p>
            <% } %>
        </td>
    </tr>


</div>

<script>

    var mymap = L.map('mapid').setView([30.403, 74.025], 14);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);

    var divs = document.getElementsByClassName("divs");
    for(var i = 0; i < divs.length; i++){
        // function onEachFeature(layer) {
            var gids = document.getElementsByClassName("gids");
            var x = gids[i].innerHTML;
            console.log(x);
            // var popupContent = x;
            // layer.bindPopup(popupContent);
        // }

        var coords = document.getElementsByClassName("coords");
        var y = coords[i].innerHTML;
        // var coords = JSON.parse(x);
        window.console.debug(y);

        var building = {
            "properties" :{
                "gid" : x
            },
            "geometry" : coords
    }


    console.log(building);

        L.geoJSON([building], {
            onEachFeature: onEachFeature,
        }).addTo(mymap);

    }

</script>
</body>
</html>
